@import "./colors.scss";
@import "./fonts.scss";

button.small-button {
    border: none;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 3px;
    font-size: 12px;
}

button.medium-button {
    border: none;
    padding: 0.5em 5em 0.5em 5em;
    border-radius: 3px;
    font-size: 12px;
    font-weight: $medium;
}

button.big-button {
    padding: 0.2em 2em 0.2em 2em;
    border: 2px solid $button-color;
    border-radius: 3px;
    font-size: 16px;
}

button.purple {
    background-color: $button-color;
    color: white;
}

button.outline {
    color: $button-color;
    background-color: transparent;
    padding: 0.2rem 3em 0.2em 3em;
}
