$dark-color: #091133;
$button-color: #111b47;
$text-color: #37447e;
$regular-text-color: #6f7cb2;
$secondary-text-color: #5d6970;
$footer-text-color: #939ea4;
$base-color: #505f98;
$light-color: #929ecc;
$footer-background-color: #e7ecff;
$border-color: #cdd1d4;
$benefits-section-color: #fbfbfd;
$pricing-section-color: #f4f5f5;
