@import "./colors.scss";

.footer-link {
    color: $light-color;
    margin-right: 4em;
}

.first-footer {
    border-bottom: 1px solid $border-color;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 3em;
}

.second-footer {
    padding-top: 2em;
    padding-bottom: 2.5em;
}

.footer {
    background-color: $footer-background-color;
}

@media (max-width: 1199.98px) {
    .first-footer {
        flex-direction: column;
    }
    .second-footer {
        flex-direction: column;
    }
    .footer-items {
        flex-direction: column;
        align-items: center;
    }
    .footer-link {
        margin: 0;
    }
    .icons-container {
        flex-direction: column;
        align-items: center;
    }
}
