@import "./colors.scss";
@import "./fonts.scss";

body {
    font-family: $base-font;
    margin: 0;
}

a {
    color: $base-color;
    font-weight: $regular;
    font-size: 14px;
    text-decoration: none;
}

p {
    font-size: 18px;
}

.logo {
    font-family: $base-font;
    font-weight: $black;
    font-size: 26px;
    color: $text-color;
}

.logo-container {
    align-items: center;
}

body h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0.5em;
}

h1 {
    color: $dark-color;
    font-weight: $medium;
    font-size: 50px;
}

h2 {
    color: $dark-color;
    font-weight: $medium;
    font-size: 36px;
}

h4 {
    color: $dark-color;
    font-weight: $medium;
    font-size: 18px;
}

h5 {
    color: $dark-color;
    font-size: 16px;
    font-weight: $medium;
}

ul li {
    display: inline;
}

@media (max-width: 1199.98px) {
    button {
        margin-top: 1em;
    }
}
