.text-icon {
    background-image: url("../public/E.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 3em;
}

.social-icon {
    background-repeat: no-repeat;
    background-color: transparent;
}

.facebook-icon {
    background-image: url("../public/facebook.png");
}

.linkedin-icon {
    background-image: url("../public/linkedin.png");
}

.twitter-icon {
    background-image: url("../public/twitter.png");
}

.youtube-icon {
    background-image: url("../public/youtube.png");
}

.instagram-icon {
    background-image: url("../public/instagram.png");
}

@media (max-width: 1199.98px) {
    .social-icon {
        padding-top: 1em;
        margin-bottom: 1em;
    }
}
