@import "./colors.scss";

.navbar-link {
    color: $base-color;
}

.nav-bar.absolute {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.nav-items {
    margin-left: 2.5em;
}

.nav-item {
    margin-right: 3em;
}

@media (max-width: 575.98px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .nav-item {
        margin: 0;
    }
}
