@import "./colors.scss";

@mixin picture-center {
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: center;
}

@mixin picture-right {
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: right;
}

.first-section {
    @include picture-right;
    background-image: url("../public/designer_1.png");
    padding-bottom: 35em;
}

.first-section-text {
    margin-top: 20em;
    margin-bottom: 4em;
}

.second-row {
    @include picture-right;
    background-image: url("../public/u.png");
}

.second-subrow {
    margin-top: 5em;
}

.second-section-text {
    margin-top: 3em;
    margin-bottom: 3em;
}

.third-section {
    margin-top: 5em;
    background-color: $benefits-section-color;
}

.third-section-pic {
    background-image: url("../public/ImageCopy.png");
    background-repeat: no-repeat;
    background-position-x: left;
}

.third-section-text {
    margin-top: 8em;
    margin-bottom: 8em;
}

.fourth-section {
    margin-top: 10em;
}

.fourth-section-pic {
    @include picture-center;
    background-image: url("../public/happy.png");
}

.fourth-section-text {
    margin-top: 4em;
    margin-bottom: 4em;
}

.fifth-section-pic {
    @include picture-center;
    background-image: url("../public/social.png");
}

.fifth-section-text {
    margin-top: 5em;
    margin-bottom: 10em;
}

.sixth-section-pic {
    @include picture-center;
    background-image: url("../public/mention.png");
}

.sixth-section-text {
    margin-top: 1em;
    margin-bottom: 10em;
}

.seventh-section {
    background-color: $pricing-section-color;
}

.seventh-section-text {
    margin: 10em 23em 10em 23em;
}

@media (max-width: 1199.98px) {
    .second-subrow {
        flex-direction: column;
    }
    .seventh-section-text {
        margin: 1em;
    }
}
