@import "./colors.scss";
@import "./fonts.scss";

.small-text {
    font-size: 12px;
    font-weight: $regular;
}

.secondary-text {
    color: $secondary-text-color;
}

.footer-text {
    color: $footer-text-color;
}

.medium-text {
    font-size: 14px;
    font-weight: $regular;
}

.large-text {
    font-size: 16px;
    font-weight: $regular;
}

.regular-text {
    color: $regular-text-color;
}

.colored-text {
    color: $text-color;
}

.base-text {
    color: $base-color;
}

@media (max-width: 1199.98px) {
    .base-text {
        color: $dark-color;
        padding: 0.5em;
        background-color: rgba($color: white, $alpha: 0.9);
    }
}
